@* binds to a view *@
@model WebApplication1.Models.ResetPasswordWithoutEmailViewModel

<script>
    //clear fields
    window.onload = function () {
        document.getElementById("Email").value = "";
        document.getElementById("NewPassword").value = "";
    };
</script>
@{
    ViewBag.Title = "Reset Password Without Email Link";
}

<h2>@ViewBag.Title</h2>

@*if success msg not empty->Password reset successfully*@
@if (!string.IsNullOrEmpty(ViewBag.Message as string))
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

<p>Enter your email and new password to reset your password.</p>

@*using account controller and resetpass. action*@
@using (Html.BeginForm("ResetPasswordWithoutEmail", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    //validation for required email
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email", autocomplete = "off" })
    </div>

    //validation for required password
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, "New Password", new { @class = "control-label" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Enter your new password", autocomplete = "off" })
    </div>

    <button type="submit" class="btn btn-link">Reset Password</button>
}
