
@model WebApplication1.Models.GuestBookEntry

@{
    ViewBag.Title = "Edit Comment";
}

<h2>Edit Comment</h2>

@using (Html.BeginForm("Edit", "Guestbook", FormMethod.Post))
{
    @Html.AntiForgeryToken()
 

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly="readonly" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Message)
        @Html.TextAreaFor(m => m.Message, new { @class = "form-control", rows = 5 })
    </div>
    //this href wasnt redirecting correctly
    <button type="submit" class="btn btn-success">Save Changes</button>

 
    <a href="@Url.Action("MyComments", "Guestbook")" class="btn btn-secondary">Cancel</a>
}
